.hero-modal {
  z-index: 2;
  border: 1px solid #daa520;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
  text-align: center;
  background-color: #000;
  color: #f0f8ff;
  line-height: 1.7;
  background: #020024;
  background: linear-gradient(90deg,#020024,#1f011e 39%,#3f014d);
  position:absolute;
  margin-right: 40px;
  width: 1800px;
}

.hero-modal > h1{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.hero-modal > h2 {
  text-align: left;
  margin-left: 50px;
  text-decoration: underline;
}

.hero-modal > img {
  width: 20rem;
  height: auto;
  border-radius: 5px;
}

.quality {
  text-align: left;
  padding: 10px;
  color: yellow;
  margin: 0 50px;
  overflow-wrap: break-word;
}

.Span {
  color: red;
  font-weight: bold;
  font-family: 'Permanent Marker';

}

.close-modal-button {
  left: 96%;
  position: absolute;
  bottom: 96%;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .hero-modal {
    width: 300px;
  }

  .hero-modal > img {
    width: 8rem;
  }

  .close-modal-button {
    left: 85%;
    font-size:30px;
  }

}