.search-bar {
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 1.2rem;
  border: 1px solid grey;
  border-radius: 5px;
  color: #280f3f;
  outline: none;
  font-family: "Comic Neue";
  font-weight: 700;
}